.mat-card {
  padding: 0px;
  margin: 8px;
}

table {
  width: 100%;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-cell, .mat-header-cell {
  padding: 8px 8px 8px 16px;
}

.mat-paginator-sticky {
  bottom: 0px;
  left:0px;
  border-top: 1px solid #e0e0e0;
  z-index: 10;
  position: sticky;
  
}

.mat-row:hover {
    cursor: pointer;
    background: #F5F5F5;
  }
